

 <%= javascript_pack_tag 'work_control', 'data-turbolinks-track': 'reload' %>
<div id = 'drag_image'>
	drag Now!!
</div>


<div id = 'TitleSpace' class = 'flex_container'>
	<div>勤務表</div>	
	<input id = 'WorkingDate' type = 'date' value= <%= Date.today%>>日付
	<div id = 'ajax'>通信用ボタン</div>
</div>


<div class = flex_container>


	<div id = 'task' class = 'task' ondrop="onDrop(event);">
		<div class = 'changeProcessSpace'>
<!-- 		  <button id = 'button_UI' class="btn btn-primary color_UI" type="submit">UI</button>
		  <button id = 'button_PG' class="btn btn-primary color_PG" type="submit">PG</button>
		  <button id = 'button_PT' class="btn btn-primary color_PT" type="submit">PT</button>
		  <button id = 'button_IT' class="btn btn-primary color_IT" type="submit">IT</button>
		  <button id = 'button_ST' class="btn btn-primary color_ST" type="submit">ST</button> -->
		  <button id = 'button_UI' class="btn color_UI" type="submit">UI</button>
		  <button id = 'button_PG' class="btn color_PG" type="submit">PG</button>
		  <button id = 'button_PT' class="btn color_PT" type="submit">PT</button>
		  <button id = 'button_IT' class="btn color_IT" type="submit">IT</button>
		  <button id = 'button_ST' class="btn color_ST" type="submit">ST</button>
		  <input  id = 'button_status' name = 'button_status' >
	  </div>

	  <div id = "showTasksSpace">
	  	
	  	<div id = 'showTmpTaskArea' class ='Lis'>
	  		<div id = 'backArea'>
    			<div id = 'backButton'> ← </div>
    			<div id = 'showProjectName'> sample project</div>
  			</div>
  			<div id = 'tmpTasks'></div>
	  	</div>

		  <div id = 'list2' class ='List'>
		  	うんち
		  </div>

		  <div id = 'list1' class ='List'>
		  	<!-- test1 -->
<!--  				<% @work.each do  |f| %>
					<ul>
						<%= content_tag(:div, f.work_content, id: f.project_id, class: "data-work_object taskInTheList", draggable: "true")  %>
					</ul>
				<% end %> -->
			</div>
		</div>
	</div>

	<div class = 'flex_container2'>
		<%= form_with(url: "/work_schedule" , method: "post", local: 'true')  do |f| %>


		<div class = 'input_work' >
			<div>・作業時間入力スペース</div>
			<input id = 'hidden_WorkingDate' name = 'workingDate' value= <%= Date.today%> >
<!-- style = 'visibility:hidden' -->

			<div class = 'flex_container calc_zone'>
				<div id = 'dropArea_forTask'class = 'work_space flex_container2' >
					ドロップエリア
					<% @droped_tasks.each do |f| %>
			  		<%= content_tag(:div, f.user_id, id: f.project_id, class: "data-work_object dropedTasks resizable color_ST" , draggable: "true")  %>
			  		<!-- <%= content_tag(:div, f.user_id, id: f.project_id, class: "data-work_object dropedTasks resizable", draggable: "true")  %> -->
			  	<% end %>
				</div>

				<div id = 'calc' class = 'work_space_for_calc  flex_container2' >
					計算するよ、どこまでも
					<% @droped_tasks.each do |f| %>
						 <%      puts 'pl'
										 # workTimeHour = (f.work_time / 60).floor
    		# 					 workTimeMinitus = f.work_time % 60
    		# 					 puts workTimeHour
    		# 					 puts workTimeMinitus
    		# 					 # f.work_time = workTimeHour.to_s + '時間' + workTimeMinitus.to_s + '分'
    		# 					 f.work_time = workTimeMinitus.to_s + '分'
    		# 					 puts f.work_time
						%>
			  		<%= content_tag(:div, f.work_time, id: 'calcData' + f.project_id)  %>
			  		<%= content_tag(:input,'',  id: 'calcDataHidden_workTime'      + f.project_id,  type: 'hidden',   name: "work_time[]",     value: f.work_time)   %>
			  		<%= content_tag(:input,'',  id: 'calcDataHidden_projectId'     + f.project_id,  type: 'hidden',   name: "project_id[]",    value: f.project_id)  %>
			  	  <%= content_tag(:input,'',  id: 'calcDataHidden_SystemProcess' + f.project_id,  type: 'hidden',   name: "SystemProcess[]", value: f.work_knd)  %>
			  	<% end %>
				</div>



			</div>
			<%= f.submit "登録"  %>
			<% end %>
		</div>



		<div class = 'work_space2'   >
			削除エリア

		</div>


  </div>

  <div class = 'register_work'>
		・登録結果
		<% @worked_list.each do  |f| %>
			<ul>
				<!-- f[0] 作業区分　f[1] 作業時間合計 -->
				<li><%= f[0] + '/' + f[1].to_s %></li>
			</ul>
		<% end %>
	</div>



</div>
<%= link_to '前に戻ります', '/users' %>
